* {
  margin: 0;
  padding: 0;
  background-color: #1b1a17; /* Gradient effect pending */
  font-family: 'Inconsolata', monospace;
}

header {
  display: flex;
  position: fixed;
  width: 90dvw;
  margin: 0 5dvw;
  top: 0;
  left: 0;
  justify-content: space-between;
}

img {
  display: flex;
  height: 2.5em;
}

#avatar {
  display: flex;
  margin: 2em auto;
  height: auto;
  max-width: 629px;
  width: 70dvw;
}

.menu-button {
  display: inline-block;
  cursor: pointer;
  align-self: center;
}

.menu-button-bar1,
.menu-button-bar2,
.menu-button-bar3 {
  width: 36px;
  height: 5px;
  background-color: #f0e3ca;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar with JavaScript - JS code pending */
.change .menu-button-bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar with JavaScript - JS code pending */
.change .menu-button-bar2 { opacity: 0; }

/* Rotate last bar with JavaScript - JS code pending */
.change .menu-button-bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.menu {
  display: flex;
  overflow: hidden;
}

.menu a {
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1em;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

section {
  margin: 3em 0;
}

h1 {
  margin-top: 2em;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  color: #ff8303;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #f0e3ca;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #ff8303;
}

.p-container {
  width: 80dvw;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: justify;
  color: #f0e3ca;
  background-color: transparent;
}

hr {
  color: #111;
}

#aboutMeLogo {
  margin: 0 auto;
  height: 4em;
}

.skillsContainer {
  display: grid;
  justify-content: center;
  margin: 0 15dvw;
}

.skillsContainer > div {
  display: inline-flex;
  margin: 1em;
  padding-left: 4dvw;
  height: 3.75em;
  width: 70dvw;
  background-color: #21201d;
  border-radius: 0.75em;
  gap: 1em;
  align-items: center;
}

.myWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsBlog {
  display: grid;
  max-width: 320px;
  width: 80dvw;
  align-items: center;
  background-image: url(./images/travel.png);
  background-size: contain;
  background-color: #21201d;
  background-blend-mode: multiply;
}

.newsBlog > h3 {
  margin-top: 1em;
  background-color: transparent;
}

.newsBlog > hr {
  margin-left: 3.5em;
  margin-right: 3.5em;
  color: #ff8303;
}

.newsBlog > p {
  display: flex;
  justify-content: center;
  margin: 1em 2.5em;
  font-size: 1rem;
}

.newsBlog > button {
  height: 3em;
  width: 8em;
  background-color: #32312e;
  border-radius: 0.25em;
  border-style: none;
  color: #f0e3ca;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.blank > img {
  max-width: 320px;
  width: 80dvw;
  height: auto;
}
