* {
  margin: 0;
  padding: 0;
  background-color: #1b1a17;
  font-family: 'Inconsolata', monospace;
  scroll-behavior: smooth;
}

img {
  display: flex;
  height: 2.5em;
}

header {
  position: sticky;
  margin: 0;
  padding-top: 1em;
  top: 0;
  left: 0;
}

body {
  position: relative;
}

#avatar {
  display: flex;
  margin: 2em auto;
  height: auto;
  max-width: 629px;
  width: 70vw;
}

section {
  margin: 3em 0;
}

h1 {
  text-align: center;
  margin-top: 2em;
  font-weight: 900;
  font-size: 3rem;
  color: #ff8303;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #f0e3ca;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #ff8303;
}

h4 {
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  color: #ff8303;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  font-weight: 400;
  color: #f0e3ca;
  background-color: transparent;
  text-align: left;
}

hr {
  color: #111;
}

.myWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 1em;
}

.welcomeContainer > * {
  display: inline-flex;
  text-align: left;
  text-decoration: none;
}

.blank > img {
  max-width: 320px;
  width: 80vw;
  height: auto;
}

form > button {
  cursor: pointer;
  padding: 1em;
  width: fit-content;
  border-radius: 10px;
  border-color: #f0e3ca;
  background-color: #ff8303;
  color: #1b1a17;
  font-weight: bold;
}

.newsBlog > button {
  height: 3em;
  width: 8em;
  background-color: #32312e;
  border-radius: 0.25em;
  border-style: none;
  color: #f0e3ca;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  cursor: pointer;
}

.welcomeContainer > a > button {
  display: inline-flex;
  margin: 1em 0 1em auto;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1em;
  width: fit-content;
  border-radius: 10px;
  border-color: #f0e3ca;
  background-color: #ff8303;
  color: #1b1a17;
  font-weight: bolder;
}

.socialNetworks > div > img {
  width: 1em;
  height: auto;
  margin-right: 1em;
}

.welcomeContainer > a > button > img {
  background-color: transparent;
}

.newsBlog {
  display: grid;
  margin: 1em 0;
  max-width: 320px;
  width: 80vw;
  align-items: center;
  background-image: url(./images/travel.png);
  background-size: contain;
  background-color: #21201d;
  background-blend-mode: multiply;
}

.newsBlog > h3 {
  margin-top: 1em;
  background-color: transparent;
}

.newsBlog > hr {
  margin-left: 3.5em;
  margin-right: 3.5em;
  color: #ff8303;
}

.newsBlog > p {
  display: flex;
  justify-content: center;
  margin: 1em 2.5em;
  font-size: 1rem;
}

.socialNetworks > div > a:link {
  color: #ff8303;
  background-color: transparent;
  text-decoration: none;
}

.socialNetworks > div > a:visited {
  color: #ff8303;
  background-color: transparent;
  text-decoration: none;
}

.socialNetworks > div > a:hover {
  color: #f0e3ca;
  background-color: transparent;
  text-decoration: underline;
}

.socialNetworks > div > a:active {
  color: #a35709;
  background-color: transparent;
  text-decoration: underline;
}

.socialNetworks > div {
  display: flex;
  height: 2.5em;
  align-items: center;
}

label,
.socialNetworks > * {
  color: #ff8303;
  font-size: 1rem;
  margin-top: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: max-content;
  margin: 2em auto;
}

form > input,
textarea {
  display: flex;
  width: 15em;
  margin: 1em 0;
  padding: 1em 8px;
  border-color: #ff8303;
  border-radius: 10px;
  color: #f0e3ca;
  font-size: 1rem;
  resize: none;
}

@media screen and (min-width: 501px) {
  header {
    display: grid;
    grid-template-columns: auto;
    width: 100vw;
  }

  .logoContainer {
    display: inline-block;
    margin: 0 auto;
  }

  .menu-button {
    display: none;
  }

  .menu-tablet {
    display: inline-flex;
    justify-content: space-around;
    margin: 1em 0;
  }

  .menu-tablet > div > a:link {
    color: #f0e3ca;
    background-color: transparent;
    text-decoration: none;
  }

  .menu-tablet > div > a:visited {
    color: #f0e3ca;
    background-color: transparent;
    text-decoration: none;
  }

  .menu-tablet > div > a:hover {
    color: #ff8303;
    background-color: transparent;
    text-decoration: none;
  }

  .menu-tablet > div > a:active {
    color: #a35709;
    background-color: transparent;
    text-decoration: none;
  }

  #welcome > .p-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
  }

  .welcomeContainer {
    min-width: 350px;
    max-width: 500px;
    width: 50vw;
  }

  #about-me {
    display: flex;
    margin: 4em 10vw;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
  }

  #aboutMeLogo {
    display: inline-flex;
  }

  #about-me > .p-container {
    display: flex;
    width: 65vw;
  }

  p {
    font-size: 1.25rem;
  }

  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .skillsContainer > div {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 1em;
    height: 23vw;
    min-height: 270px;
    max-height: 300px;
    width: 20vw;
    min-width: 180px;
    max-width: 200px;
    background-color: #21201d;
    border-radius: 0.75em;
    justify-content: center;
    align-items: center;
  }

  .skillsContainer > div > img {
    margin: auto 1em;
    height: 8em;
    background-color: transparent;
  }

  .skillsContainer > div > p {
    font-size: 2em;
  }

  #footerLogo {
    margin: 0 auto;
  }

  #footer > .p-container > p {
    width: 80vw;
    max-width: 339px;
    margin: 0 auto;
  }

  .socialNetworks {
    display: grid;
    justify-content: center;
    grid-template-columns: 18em 10em;
  }

  .socialNetworks > div {
    width: 16em;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    padding: 1em 5vw;
  }

  .menu-tablet {
    display: none;
  }

  .menu-button {
    display: inline-block;
    cursor: pointer;
    align-self: center;
  }

  .menu-button-bar1,
  .menu-button-bar2,
  .menu-button-bar3 {
    width: 36px;
    height: 5px;
    background-color: #f0e3ca;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar with JavaScript - JS code pending */
  .change .menu-button-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar with JavaScript - JS code pending */
  .change .menu-button-bar2 { opacity: 0; }

  /* Rotate last bar with JavaScript - JS code pending */
  .change .menu-button-bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .menu {
    display: flex;
    overflow: hidden;
  }

  .menu a {
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1em;
  }

  .menu a:hover {
    background-color: #ddd;
    color: black;
  }

  .p-container {
    min-width: 260px;
    max-width: 339px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 1.5rem;
  }

  .welcomeContainer {
    min-width: 240px;
    width: 80vw;
  }

  .skillsContainer {
    display: grid;
    justify-content: center;
    margin: 0 15vw;
  }

  .skillsContainer > div {
    display: inline-flex;
    margin: 1em;
    padding-left: 4vw;
    height: 3.75em;
    width: 70vw;
    background-color: #21201d;
    border-radius: 0.75em;
    gap: 1em;
    align-items: center;
  }

  section > img {
    margin: 0 auto;
  }

  .socialNetworks {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: max-content;
  }

  .socialNetworks > div {
    width: max-content;
  }
}
